<div id="logo" class="my-4 px-3">
    <h1 class="text-lg md:text-2xl font-bold text-[#5672a5]">{{envs.companyName}}<span
            class="text-[#f8b0b1]">{{envs.companyName2}}</span>.</h1>
</div>
<div id="profile" class="px-3 pb-4">
    <p class="text-[#5672a5] text-xl font-bold pb-6">Welcome back!</p>
    <a href="#" class="inline-flex space-x-2 items-center">
        <span>
            <img class="rounded-full w-10 h-10 object-cover"
                src="https://i.pinimg.com/736x/9e/c9/78/9ec978a97f3f66b966b8ac1641c399c8.jpg" alt="">
        </span>
        <span class="text-sm md:text-base font-bold text-[#f8b0b1]">
            Dulce Nevarez
        </span>
    </a>
</div>